@use '../../abstracts/index' as *;


.about{
    color: $primary-color;
    @include flex(space-between, stretch, wrap);
    
    row-gap: 3rem;
    padding: 170px 0;


    &__item{
        flex: 0 0 45%;

        @include rwd(1200){ flex: 0 0 100%;}

        &--img{
            position: relative;

            &::after{
                @include position(absolute, 1rem, auto, auto, 1rem, 100%, 800px);

                background: #B98E444D;
                border-radius: 15px;
                display: block;
                content: "";
                z-index: -1;
            }

            @include rwd(1200){ order: 2;}
        }
    }

    &__img{
        height: 800px;
        width: 100%;
    }

    &__badge{
        background-color: $white-color;
        @include position(absolute, auto, auto, 50px, -100px, 200px, 240px);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        border: 1px solid $secondary-color;
        z-index: 12;
        overflow: hidden;
        font-weight: 500;
        font-style: italic;
        font-size: 7rem;
        font-family: "Playfair Display", serif; 
        

        @include rwd(992){
            top: 1rem;
            right: 1rem;
            left: auto;
            bottom: auto;
            font-size: 4rem;
            height: auto;
        }

        span{ 
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    &__circle{
        @include position(absolute, -20px, auto, auto, -70px, 183px, 177px);
        background-color: $secondary-color;

        border-radius: 50%;
        z-index: -1;
    }

    &__icon{
        width: 80px;
        height: 80px;
    }

    &__heading{
        font-weight: 500;
        font-size: 4.5rem;

        @include rwd(768){ font-size: 3rem;}
    }

    &__subheading{
        color: $secondary-color;

        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__list{
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li{
            display: flex;
            gap: 1rem;
            align-items: center;
            font-weight: 500;
            font-size: 1.1rem;
        }
    }

    &__btn{ 
        border: 1px solid $primary-color;
        margin-top: 3rem;
     }

}