@use '../../abstracts/index' as *;

.feature{
    background-color: $primary-color;
   
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 6rem;

        @include rwd(1200){ 
            flex-direction: column;
            align-items: flex-start;
         }
    }

    &__item{
        flex: 2;

        &--bg{
            flex: 1;
            position: relative;

            @include rwd(1200){ order: 2; }
            @include rwd(576){ display: none; }
        }
    }

    &__img{

        &--front{
            position: absolute;
            top: -30px;
            left: 40px;
        }
    }

    &__heading{
        color: $secondary-color;

        font-weight: 400;
        font-size: 1.2rem;
        display: inline-block;
        margin-bottom: 1rem;

        &:after{
            display: block;
            content: "";
            height: 2px;
            background-color: $secondary-color;
        }
    }

    &__subheading{
        font-weight: 500;
        font-size: 3.5rem;
        margin-bottom: 2rem;

        @include rwd(768){font-size: 2.5rem; }
    }

    &__text{
        color: $white-color;

        font-weight: 500;
        font-size: 1.1rem;
    }

    &__box{
        display: flex;
        margin-top: 3rem;
        row-gap: 2rem;

        @include rwd(1300){ flex-direction: column; }
    }

    &__info{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__circle{
        background-color: $white-color;
        color: $primary-color;

        position: relative;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-weight: 700;
        border-radius: 50%;

        &::after{
            position: absolute;
            width: 70px;
            height: 70px;
            content: "";
            top: -6px;
            left: -6px;
            line-height: 70px;
            border-radius: 50%;
      
            border: 2px solid $white-color;
        }
    }
}