@use '../../abstracts/index' as *;

.feature{
    background-color: $primary-color;
    padding-top: 120px;

    @include rwd(1200){ padding: 70px 0;}
   
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 10rem;

        @include rwd(1200){ 
            flex-direction: column;
            align-items: flex-start;
         }
    }

    &__item{
        flex: 2;

        &--bg{
            flex: 1;
            position: relative;

            @include rwd(1200){ order: 2; }
            @include rwd(576){ display: none; }
        }
    }

    &__img{

        &--front{
            position: absolute;
            bottom: 50px;
            left: 70px;
        }
    }

    &__heading{
        color: $secondary-color;

        font-weight: 400;
        font-size: 1.2rem;
        display: inline-block;
        margin-bottom: 1rem;

        &:after{
            background-color: $secondary-color;

            display: block;
            content: "";
            height: 2px;
        }
    }

    &__subheading{
        font-weight: 500;
        font-size: 3.5rem;
        margin-bottom: 2rem;

        @include rwd(768){font-size: 2.5rem; }
    }

    &__text{
        color: $white-color;

        font-weight: 500;
        font-size: 1.1rem;
    }

    &__box{
        display: flex;
        margin-top: 5rem;
        row-gap: 2rem;

        @include rwd(1300){ flex-direction: column; }
    }

    &__info{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__circle{
        @include circle(60px);
        color: $primary-color;

        font-weight: 700;

        &::after{
            @include position-center;

            width: 70px;
            height: 70px;
            content: "";
            line-height: 70px;
            border-radius: 50%;
      
            border: 2px solid $white-color;
        }
    }
}