@use '../../abstracts/index' as *;

.hero{
    background: linear-gradient(269.88deg, rgba(38, 34, 34, 0) 0.1%, rgba(33, 32, 32, 0.91) 99.89%), 
                url('../../src/img/advokatska-kancelarija.webp'), center/cover;
    height: 100svh;
    padding: 0;

    &__wrapper{
        @include flex(center, flex-start, column);
        height: 80vh;

        @include rwd(768){
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__subheading{
        color: $secondary-color;

        font-size: 1.5rem;
        display: inline-block;
        font-weight: 500;

        &::after{
            background-color: $secondary-color;

            display: block;
            content: "";
            width: 100%;
            height: 1px;
        }

        @include rwd(576){ font-size: 1.2rem; }
    }

    &__heading{
        font-size: clamp(2.5rem, 8vw, 4.5rem);
        font-weight: 400;
        margin-bottom: 1.5rem;

        span{ font-style: italic;}
    }

    &__btn{
        color: $primary-color;
        background-color: $white-color;

        font-weight: 500;
        font-size: 1.1rem;
        position: relative;
        border-radius: 30px;
        padding: 1rem 3.5rem 1rem 2rem;

        &:hover{
            background-color: $primary-color;
            color: $white-color;
        }

        &:hover > .fa-solid{
            background: rgba(255, 255, 255, 0.2);
        }

        .fa-solid{
            background-color: $primary-color;
            color: $white-color;

            transition: 0.4s linear;
            transform: translateY(-50%);
            position: absolute;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            position: absolute;
            top: 50%;
            right: 10px;
        }
    }
}