@use '../../abstracts/index' as *;

.pricing{
    padding: 100px 0;
    background: url('../../src/img/advokatska-tarifa.webp') center/cover;

    &__wrapper{
        background: #E7E5E5E5;
        text-align: center;
        padding: 2rem;
    }

    &__heading{
        color: $primary-color;

        font-weight: 500;
        font-size: 3.5rem;

        @include rwd(768){ font-size: 2.5rem; }
    }

    &__text{
        color: $black-color;

        max-width: 550px;
        margin: 2rem auto;

        @include rwd(768){ max-width: 100%; }
    }

     &__btn{
        border: 1px solid $primary-color;

        &:hover > .fa-solid{ color: $white-color;}

        .fa-solid{
            background-color: $white-color;
            color: $primary-color;

            border: 1px solid $primary-color;
        }
    }
}