@use '../../abstracts/index' as *;

.services{
    padding: 120px 0;
    background:linear-gradient(rgba(54, 57, 89, 0.8), rgba(54, 57, 89, 0.8)), 
               url('../../src/img/advokat-beograd.webp') center/cover;
    text-align: center;

    &__heading{
        color: $secondary-color;

        font-weight: 400;
        font-size: 1.3rem;
        display: inline-block;

        &::after{
            background-color: $secondary-color;

            height: 1px;
            display: block;
            content: "";
        }
    }

    &__subheading{
        font-weight: 500;
        font-size: 3.5rem;
        max-width: 550px;
        margin: auto;

        @include rwd(768){ font-size: 2.5rem;}

        span{
            font-style: italic;
            display: inline-block;

            &:after{
                background-color: $white-color;

                display: block;
                content: "";
                height: 1px;
            }
        }
    }

    &__wrapper{
        @include flex(center, center, wrap);
        row-gap: 2rem;
        margin-top: 3rem;
    }

    &__item{
        @include flex(center, center, column);
        flex: 0 0 22%;

        @include rwd(992){ flex: 0 0 45%;}
        @include rwd(576){ flex: 0 0 100%;}
    }

    &__img{
        @include circle(140px);

        &:hover::after{
            border: 2px solid $secondary-color;
            transition: 0.4s linear;
        }

        &::after{
            transition: 0.4s linear;

            @include position-center;
            width: 130px;
            height: 130px;
            line-height: 130px;
            border-radius: 50%;
            content: "";
            border: 2px solid #363959A6;
        }

        img{
            width: 80px;
            height: 80px;
        }
    }

    &__title{
        font-weight: 600;
        margin-top: 1rem;
        font-family: "DM Sans", sans-serif;
    }

    &__btn{
            font-weight: 500;
            font-size: 1.1rem;
            color: $primary-color;
            background-color: $white-color;
            position: relative;
            border-radius: 30px;
            padding: 1rem 3.5rem 1rem 2rem;
            margin-top: 3rem;
            display: inline-block;
    
            &:hover{
                background-color: $primary-color;
                color: $white-color;
            }
    
            &:hover > .fa-solid{
                background: rgba(255, 255, 255, 0.2);
            }
    
            .fa-solid{
                transform: translateY(-50%);
                position: absolute;
                background-color: $primary-color;
                color: $white-color;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                position: absolute;
                top: 50%;
                right: 10px;
            }
    }
}