@use '../../abstracts/index' as *;

.bio{
    background-color: $primary-color;

    &__header{ text-align: center; }

    &__icon{
        color: $secondary-color;

        font-size: 2.5rem;
    }

    &__heading{
        font-weight: 500;
        font-size: 3rem;
        margin-top: 1rem;

        @include rwd(768){ font-size: 2rem }
    }

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        row-gap: 3rem;
        margin-top: 3rem;

        span{
            color: $secondary-color;
            
            text-align: center;
            display: block;
            margin: 1rem 0;
            font-size: 0.8rem;
        }
    }

    &__item{
        flex: 0 0 45%;

        @include rwd(1200){ flex: 0 0 100%;}

        &--img{
            position: relative;
            z-index: 1;
               
            &::after{
                @include position(absolute, 1rem, auto, auto, 1rem, 100%, 100%);
                background: #EADEC7;
                border-radius: 15px;
                display: block;
                content: "";
                z-index: -1;
            }

            @include rwd(1200){ order: 2;}
        }
    }

    &__text{ text-align: justify; }
}