@use '../../abstracts/index' as *;

.service{

    &__item{

        &--white{ 
            background-color: $white-color; 
            
            .service__info{ @include rwd(1200){ order: -1;} }
        }

        &--primary{
            background-color: $primary-color;

            .service__heading,
            .service__text{ color: $white-color; }
        }
    }

    &__wrapper{
        display: flex;
        align-items: center;
        gap: 5rem;

        @include rwd(1200){ flex-direction: column; }

        &.container{
             width: 70%;
        }
    }

    &__img{ 
        width: 180px;
        height: 180px;
    }

    &__heading{
        color: $primary-color;

        font-weight: 500;
        font-size: 3rem;

        @include rwd(768){ font-size: 2rem ;}
    }

    &__text{
        color: $primary-color;

        margin-top: 2rem;
        line-height: 1.6;
        text-align: justify;
    }
}