@use '../../abstracts/index' as *;

.service{

    &__item{

        &--white{ 
            background-color: $white-color; 
            
            .service__info{ order: -1;}
        }

        &--primary{
            background-color: $primary-color;

            .service__heading,
            .service__text{ color: $white-color; }
        }
    }

    &__wrapper{
        display: flex;
        gap: 5rem;

        @include rwd(1200){
            flex-direction: column
        }
    }

    &__img{ 
        @include flex(center, center, column);
        flex: 1;
        background-color: #D9D9D9;
        padding: 2rem 0;

        img{
            width: 80px;
            height: 80px;
        }
    }

    &__info{ flex: 2; }

    &__name{
        background-color: #363959B2;
        padding: 0.5rem 2rem;
        font-style: italic;
        font-weight: 600;
        margin-top: 1rem;
    }

    &__heading{
        color: $primary-color;

        font-weight: 500;
        font-size: 3rem;

        @include rwd(768){ font-size: 2rem ;}
    }

    &__text{
        color: $primary-color;

        margin-top: 2rem;
        line-height: 1.6;
        text-align: justify;
    }
}