@use '../abstracts/index' as *;

.footer{
    background-color: $primary-color;

    padding: 70px 0;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        row-gap: 2rem;

        @include rwd(1200){ flex-direction: column; }
    }

    &__item{ flex:0 0 22%; }

    &__heading{
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__text{
        color: $white-color;

        font-size: 1.1rem;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &--space{

            li{
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__social{
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
    }
}