* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  transition: 0.4s linear;
}

html {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
}
@media (max-width: 576px) {
  html {
    font-size: 85%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 70px 0;
}

button {
  transition: 0.4s linear;
}

a {
  color: #fff;
}
a:hover {
  color: #B98E44;
}
a:focus-visible {
  text-decoration: underline;
  outline: 1px dashed #e3b723;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

.logo {
  height: 75px;
  width: 250px;
}

.header {
  background-color: #363959;
  text-align: center;
  padding: 70px 0;
}
.header__heading {
  font-size: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  padding: 1rem 0;
}
.nav--primary {
  background-color: #363959;
  padding-left: 10%;
  padding-right: 10%;
}
.nav__list {
  display: flex;
  gap: 1rem;
}
.nav__list.active {
  transform: translateX(0);
}
@media (max-width: 1200px) {
  .nav__list {
    position: fixed;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #363959;
    padding-left: 2rem;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
  }
}
.nav__item--dropdown {
  position: relative;
}
.nav__item--dropdown .fa-solid {
  font-size: 0.8rem;
}
@media (max-width: 1200px) {
  .nav__item--dropdown .fa-solid {
    display: none;
  }
}
.nav__item--dropdown:hover > .nav__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav__link {
  color: #fff;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #B98E44;
}
.nav__link:hover + .fa-solid {
  color: #B98E44;
}
.nav__tel {
  background-color: #363959;
  color: #fff;
  font-size: 0.8rem;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 1.2rem;
}
.nav__tel:hover {
  color: #fff;
  background: transparent;
}
.nav__tel--secondary:hover {
  background-color: #B98E44;
  color: #fff;
}
@media (max-width: 1200px) {
  .nav__tel {
    display: none;
  }
}
.nav__dropdown {
  position: absolute;
  top: 150%;
  background: #B1AFAF;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}
@media (max-width: 1200px) {
  .nav__dropdown {
    visibility: visible;
    opacity: 1;
    position: static;
    transform: translateY(0);
    background-color: inherit;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
}
.nav__dropdown a {
  color: #363959;
}
.nav__dropdown a:hover {
  color: #B98E44;
}
.nav__dropdown a::after {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  content: "";
}
@media (max-width: 1200px) {
  .nav__dropdown a {
    color: #fff;
  }
}
.nav__hamburger {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.nav__hamburger:hover {
  color: #B98E44;
}
@media (max-width: 1200px) {
  .nav__hamburger {
    display: block;
  }
}
.nav__close {
  color: #fff;
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.nav__close:hover {
  color: #B98E44;
}
@media (max-width: 1200px) {
  .nav__close {
    display: block;
  }
}

.footer {
  background-color: #363959;
  padding: 70px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  row-gap: 2rem;
}
@media (max-width: 1200px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__item {
  flex: 0 0 22%;
}
.footer__heading {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.footer__text {
  color: #fff;
  font-size: 1.1rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__list--space li {
  display: flex;
  justify-content: space-between;
}
.footer__social {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

[class$=btn] {
  color: #363959;
  background-color: #fff;
  display: inline-block;
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
  border-radius: 30px;
  padding: 1rem 3.5rem 1rem 2rem;
}
[class$=btn]:hover {
  background-color: #363959;
  color: #fff;
}
[class$=btn]:hover > .fa-solid {
  background: rgba(255, 255, 255, 0.2);
}
[class$=btn] .fa-solid {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #363959;
  text-align: center;
  border-radius: 50%;
  position: relative;
  color: #fff;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 10px;
}

.arrow__up {
  position: fixed;
  top: auto;
  right: 1.5rem;
  bottom: 1.5rem;
  left: auto;
  width: auto;
  height: auto;
  background-color: #B98E44;
  width: 45px;
  height: 45px;
  line-height: 45px !important;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  border: 2px solid #B98E44;
  transform: translateX(200px);
  transition: 0.4s linear;
  cursor: pointer;
  z-index: 100;
}
.arrow__up:hover {
  background: transparent;
}
.arrow__up.active {
  transform: translateX(0);
}

.hero {
  background: linear-gradient(269.88deg, rgba(38, 34, 34, 0) 0.1%, rgba(33, 32, 32, 0.91) 99.89%), url("../../src/img/advokatska-kancelarija.webp"), center/cover;
  height: 100svh;
  padding: 0;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
  height: 80vh;
}
@media (max-width: 768px) {
  .hero__wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.hero__subheading {
  color: #B98E44;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 500;
}
.hero__subheading::after {
  background-color: #B98E44;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
}
@media (max-width: 576px) {
  .hero__subheading {
    font-size: 1.2rem;
  }
}
.hero__heading {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.hero__heading span {
  font-style: italic;
}

.about {
  color: #363959;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 3rem;
  padding: 170px 0;
}
.about__item {
  flex: 0 0 45%;
}
@media (max-width: 1200px) {
  .about__item {
    flex: 0 0 100%;
  }
}
.about__item--img {
  position: relative;
}
.about__item--img::after {
  position: absolute;
  top: 1rem;
  right: auto;
  bottom: auto;
  left: 1rem;
  width: 100%;
  height: 800px;
  background: rgba(185, 142, 68, 0.3019607843);
  border-radius: 15px;
  display: block;
  content: "";
  z-index: -1;
}
@media (max-width: 1200px) {
  .about__item--img {
    order: 2;
  }
}
.about__img {
  height: 800px;
  width: 100%;
}
.about__badge {
  background-color: #fff;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 50px;
  left: -100px;
  width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #B98E44;
  z-index: 12;
  overflow: hidden;
  font-weight: 500;
  font-style: italic;
  font-size: 7rem;
  font-family: "Playfair Display", serif;
}
@media (max-width: 992px) {
  .about__badge {
    top: 1rem;
    right: 1rem;
    left: auto;
    bottom: auto;
    font-size: 4rem;
    height: auto;
  }
}
.about__badge span {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.about__circle {
  position: absolute;
  top: -20px;
  right: auto;
  bottom: auto;
  left: -70px;
  width: 183px;
  height: 177px;
  background-color: #B98E44;
  border-radius: 50%;
  z-index: -1;
}
.about__icon {
  width: 80px;
  height: 80px;
}
.about__heading {
  font-weight: 500;
  font-size: 4.5rem;
}
@media (max-width: 768px) {
  .about__heading {
    font-size: 3rem;
  }
}
.about__subheading {
  color: #B98E44;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2rem;
}
.about__list {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__list li {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 500;
  font-size: 1.1rem;
}
.about__btn {
  border: 1px solid #363959;
  margin-top: 3rem;
}

.services {
  padding: 120px 0;
  background: linear-gradient(rgba(54, 57, 89, 0.8), rgba(54, 57, 89, 0.8)), url("../../src/img/advokat-beograd.webp") center/cover;
  text-align: center;
}
.services__heading {
  color: #B98E44;
  font-weight: 400;
  font-size: 1.3rem;
  display: inline-block;
}
.services__heading::after {
  background-color: #B98E44;
  height: 1px;
  display: block;
  content: "";
}
.services__subheading {
  font-weight: 500;
  font-size: 3.5rem;
  max-width: 550px;
  margin: auto;
}
@media (max-width: 768px) {
  .services__subheading {
    font-size: 2.5rem;
  }
}
.services__subheading span {
  font-style: italic;
  display: inline-block;
}
.services__subheading span:after {
  background-color: #fff;
  display: block;
  content: "";
  height: 1px;
}
.services__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 0;
  row-gap: 2rem;
  margin-top: 3rem;
}
.services__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 0;
  flex: 0 0 22%;
}
@media (max-width: 992px) {
  .services__item {
    flex: 0 0 45%;
  }
}
@media (max-width: 576px) {
  .services__item {
    flex: 0 0 100%;
  }
}
.services__img {
  width: 140px;
  height: 140px;
  line-height: 140px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  position: relative;
}
.services__img:hover::after {
  border: 2px solid #B98E44;
}
.services__img::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  content: "";
  border: 2px solid rgba(54, 57, 89, 0.6509803922);
}
.services__img img {
  width: 80px;
  height: 80px;
}
.services__title {
  font-weight: 600;
  margin-top: 1rem;
  font-family: "DM Sans", sans-serif;
}
.services__btn {
  margin-top: 3rem;
}

.pricing {
  padding: 100px 0;
  background: url("../../src/img/advokatska-tarifa.webp") center/cover;
}
.pricing__wrapper {
  background: rgba(231, 229, 229, 0.8980392157);
  text-align: center;
  padding: 2rem;
}
.pricing__heading {
  color: #363959;
  font-weight: 500;
  font-size: 3.5rem;
}
@media (max-width: 768px) {
  .pricing__heading {
    font-size: 2.5rem;
  }
}
.pricing__text {
  color: #000;
  max-width: 550px;
  margin: 2rem auto;
}
@media (max-width: 768px) {
  .pricing__text {
    max-width: 100%;
  }
}
.pricing__btn {
  border: 1px solid #363959;
}
.pricing__btn:hover > .fa-solid {
  color: #fff;
}
.pricing__btn .fa-solid {
  background-color: #fff;
  color: #363959;
  border: 1px solid #363959;
}

.feature {
  background-color: #363959;
  padding-top: 120px;
}
@media (max-width: 1200px) {
  .feature {
    padding: 70px 0;
  }
}
.feature__wrapper {
  display: flex;
  align-items: center;
  gap: 10rem;
}
@media (max-width: 1200px) {
  .feature__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.feature__item {
  flex: 2;
}
.feature__item--bg {
  flex: 1;
  position: relative;
}
@media (max-width: 1200px) {
  .feature__item--bg {
    order: 2;
  }
}
@media (max-width: 576px) {
  .feature__item--bg {
    display: none;
  }
}
.feature__img--front {
  position: absolute;
  bottom: 50px;
  left: 70px;
}
.feature__heading {
  color: #B98E44;
  font-weight: 400;
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.feature__heading:after {
  background-color: #B98E44;
  display: block;
  content: "";
  height: 2px;
}
.feature__subheading {
  font-weight: 500;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .feature__subheading {
    font-size: 2.5rem;
  }
}
.feature__text {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}
.feature__box {
  display: flex;
  margin-top: 5rem;
  row-gap: 2rem;
}
@media (max-width: 1300px) {
  .feature__box {
    flex-direction: column;
  }
}
.feature__info {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.feature__circle {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  position: relative;
  color: #363959;
  font-weight: 700;
}
.feature__circle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  content: "";
  line-height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.contact {
  display: flex;
  padding: 0;
}
@media (max-width: 992px) {
  .contact {
    flex-direction: column;
  }
}
.contact__item {
  flex: 1;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 10%;
}
.contact__item--form {
  background: linear-gradient(rgba(54, 57, 89, 0.8), rgba(54, 57, 89, 0.8)), url("../../src/img/advokat-beograd-kontakt.webp") center/cover;
  text-align: center;
  padding-right: 10%;
}
.contact__heading {
  color: #363959;
  font-weight: 500;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .contact__heading {
    font-size: 2.5rem;
  }
}
.contact__heading::after {
  background-color: #363959;
  display: block;
  content: "";
  height: 5px;
  width: 80px;
}
.contact__list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__list__item {
  color: #363959;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact__input {
  color: #363959;
  width: 100%;
  border-radius: 3px;
  padding: 1rem;
  background-color: rgba(217, 217, 217, 0.4509803922);
  font-weight: 600;
}
.contact__input::placeholder {
  color: #363959;
}
.contact__box {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}
@media (max-width: 576px) {
  .contact__box {
    flex-direction: column;
  }
}
.contact textarea {
  height: 250px;
}
.contact__btn {
  font-size: 17px;
  color: #B98E44;
  border: 2px solid #B98E44;
  border-radius: 24px;
  background: transparent;
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  cursor: pointer;
}
.contact__btn:hover {
  background: #B98E44;
  color: #fff;
}
.contact .fa-solid {
  font-size: 2rem;
}

.bio {
  background-color: #363959;
}
.bio__header {
  text-align: center;
}
.bio__icon {
  width: 80px;
  height: 80px;
}
.bio__heading {
  font-weight: 500;
  font-size: 3rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .bio__heading {
    font-size: 2rem;
  }
}
.bio__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 3rem;
  margin-top: 3rem;
}
.bio__wrapper span {
  color: #B98E44;
  text-align: center;
  display: block;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.bio__item {
  flex: 0 0 45%;
}
@media (max-width: 1200px) {
  .bio__item {
    flex: 0 0 100%;
  }
}
.bio__item--img {
  position: relative;
  z-index: 1;
}
.bio__item--img::after {
  position: absolute;
  top: 1rem;
  right: auto;
  bottom: auto;
  left: 1rem;
  width: 100%;
  height: 800px;
  background: #EADEC7;
  border-radius: 15px;
  display: block;
  content: "";
  z-index: -1;
}
@media (max-width: 1200px) {
  .bio__item--img {
    order: 2;
  }
}
.bio__img {
  height: 800px;
  width: 100%;
}
.bio__text {
  text-align: justify;
  font-size: 17px;
}

.service__item--white {
  background-color: #fff;
}
@media (max-width: 1200px) {
  .service__item--white .service__info {
    order: -1;
  }
}
.service__item--primary {
  background-color: #363959;
}
.service__item--primary .service__heading,
.service__item--primary .service__text {
  color: #fff;
}
.service__wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 1200px) {
  .service__wrapper {
    flex-direction: column;
  }
}
.service__wrapper.container {
  width: 70%;
}
.service__img {
  width: 180px;
  height: 180px;
}
.service__heading {
  color: #363959;
  font-weight: 500;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .service__heading {
    font-size: 2rem;
  }
}
.service__text {
  color: #363959;
  margin-top: 2rem;
  line-height: 1.6;
  text-align: justify;
}

/*# sourceMappingURL=main.css.map */
